<div class="card">
  <div class="card-header">Linguagens</div>
  <div class="card-body">
    <div *ngIf="linguagens && linguagens.length == 0">
      <p class="text-center text-muted">Dados não disponíveis</p>
    </div>
    <table class="table table-bordered text-center" *ngIf="linguagens && linguagens.length > 0">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Curtidas</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linguagem of linguagens">
          <td>{{ linguagem.nome}}</td>
          <td><span class="badge badge-pill badge-info">{{ linguagem.numeroUsuarios }}</span></td>
          <td>
            <button class="btn btn-success" *ngIf="!linguagem.usuarioCurte" type="button" (click)="curtirLinguagem(linguagem)">
              Curtir
            </button>
            <p class="text-center text-muted" *ngIf="linguagem.usuarioCurte">Linguagem curtida</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
